
* {
    border: none;
    border-radius: 10px;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background: rgba(26, 27, 38, 0.85);
    color: #c0caf5;
    border-bottom: 3px solid rgba(192, 202, 245, 0.2);
}

#workspaces button {
    padding: 0 10px;
    color: #c0caf5;
    background: transparent;
}

#workspaces button.active {
    color: #ff00ff;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: inset 0 -3px #00ffff;
}

#clock, #battery, #cpu, #memory, #disk, #temperature, #backlight, #network, #pulseaudio, #custom-media, #tray, #mode, #idle_inhibitor, #mpd, #bluetooth, #custom-power {
    padding: 0 10px;
    margin: 0 5px;
    color: #c0caf5;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
}

#clock {
    background: linear-gradient(118deg, #ff00ff 0%, #00ffff 100%);
    color: #1a1b26;
    font-weight: bold;
}

#battery.charging, #battery.plugged {
    color: #9ece6a;
}

#battery.critical:not(.charging) {
    background-color: #f7768e;
    color: #1a1b26;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#network.disconnected {
    background-color: #f7768e;
}
